.container {
  margin-top: 50px;
  padding-top: 20px;
  @apply flex flex-col w-[70%] items-start gap-6;
  @apply max-md:p-2 max-md:gap-14 max-md:m-2;
}
.container1 { 
  @apply flex w-fit ;
   background-color: transparent;
   border: 2px solid #CBFC02;
   height: 162px;
   width: 310px;
  @apply max-md:h-24 max-md:w-32;
}
.skewedBox1{
  background-color: white;
  height: 162px;
  width: 310px;
  transform: rotate(-4.12deg);
  @apply max-md:h-24 max-md:w-32;
}
.image{
  @apply max-md:min-w-44 xl:min-w-[400px] aspect-video md:w-full ;
  object-fit: cover;
}
.text {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}