@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryGreen: #CBFC02;
  --secondaryGreen: #BAE801;
  --primaryBlack: #131313;
  --secondaryBlack: #010101;
  --primaryWhite: #FFFFFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primaryGreen: #CBFC02;
    --secondaryGreen: #BAE801;
    --primaryBlack: #131313;
    --secondaryBlack: #010101;
    --primaryWhite: #FFFFFD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
