@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primaryGreen: #CBFC02;
  --secondaryGreen: #BAE801;
  --primaryBlack: #131313;
  --secondaryBlack: #010101;
  --primaryWhite: #FFFFFD;
  --primaryGray: #333333;
  --bgBlack: #151515;
  --destructive: #FF0000;
  --systemGray:#131313;
  --secondaryGray:#7B7B7B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primaryGreen: #CBFC02;
    --secondaryGreen: #BAE801;
    --primaryBlack: #131313;
    --secondaryBlack: #010101;
    --primaryWhite: #FFFFFD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inria Sans", sans-serif;
}

.glass-bg {
  backdrop-filter: blur(8px); /* Applies blur to the background */
  -webkit-backdrop-filter: blur(8px); /* Safari compatibility */
  background-color: rgb(2, 30, 2); /* Semi-transparent background */
  
  /* Border and shadow for depth */
  border: 1px solid var(--primaryGreen);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
  /* Text styling */
  color: #CBFC02;
}